<h1>Create a cocktail</h1>


<div class="form-add-cocktail">
  <%= simple_form_for(@cocktail) do |c| %>
    <%= c.input :name %>
    <%= c.submit "Create cocktail", class: "btn btn-primary" %>
  <% end %>
</div>
