


<br><br>



<div class="container">

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cocktail.photo.attached? ? cl_image_path(@cocktail.photo.key, crop: :fit) : 'https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg' %>">
   <h1>Recipe for <%= @cocktail.name.upcase %></h1>
</div>


  <div class="row d-flex flex-row align-items-around bg-dark rounded shadow-sm m-0">

    <div class="col-6 d-flex justify-content-center align-items-center p-0">
      <div class="d-flex flex-column align-items-center">
      <br>
        <h4>Ingredients list</h4>
        <table class="table">
              <tr>
                <th>Ing.</th>
                <th>Description</th>
                </tr>
                <% if @cocktail.doses.empty? %>
                  <p>No ingredient yet, add some!</p>
                  <% else %>
                  <% @cocktail.doses.each do |dose| %>
                <tr>
                  <td><%= dose.ingredient.name %></td>
                  <td><%= dose.description %></td>
                </tr>
                <% end %>
              <% end %>
            </table>
      </div>
    </div>

  </div>
  <br>
</div>

