
<div class="container">

    <div class="typed-strings text-center home-title">
      <p>Choose among the <strong> best cocktails</strong></p>
      <p>And create your own...</p>
    </div>


    <div class="text-center">
      <%= link_to  "Discover now", cocktails_path, class: 'btn btn-light' %>
    </div>


    <%= image_tag "cocktails-4.jpg", class: "mw-100 h-50" %>


</div>
