.btn-light {
  margin-top: 15px;
  margin-bottom: 15px;
}


.image-add {
  margin-top: 30px;
  width: 350px;
  height: 400px;
}

// .image-add {
//   background-image: image-url('cocktails_fumant.jpg');
//   object-fit: cover;
//   background-size: cover;
//   width: 100%;
//   height: 100vh;
//   margin-right: 0px;
// }

