// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";


// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "./public/theme/css/t-scroll.min.css";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-color: $background;
  color: white;
  margin-top: 51px;
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
}

.btn-warning {
  background-color: $beer;
  border: 1px solid $beer;
}
