// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// SHOW
.table {
  color: white;
}

.action-show {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

